<div class="page-header">
  <h3>The <%= @family.name %> Family</h3>

  <div class="btn-group">
    <a href="/families" class="btn btn-default btn-sm">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a href="/families/<%= @family.id %>/edit" class="btn btn-default btn-sm">
      <i class="fa fa-edit fa-fw"></i>
    </a>
    <a href="/delete_family/<%= @family.id %>" class="btn btn-default btn-sm" rel="nofollow">
      <i class="fa fa-trash-o fa-fw"></i>
    </a>

  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <a href="/members/new" class="btn btn-success btn-block">
      Create New Family Member
    </a>

    <hr>
  </div>
</div>


<div class="row row-horizon">
  <% @family.members.each do |member| %>
  <div class="col-md-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">

          <p> <%= member.name %> <%= member.surname %> </p>
          <p><img src="<%= member.image %>" width="100"></p>

        </h4>

        <% if member.relationships.any? %>

        <% member.relationships.each do |relation| %>

        <p> <%= relation.relationship_type %> <%= Member.find(relation.other_member_id).name %> </p>

        <% end %>

        <% else %>

        <form action="/create_relationship" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for relationship_type -->
          <div class="form-group">
            <label for="relationship_type" class="control-label">
              Relationship
            </label>

            <%= select_tag(:relationship_type, options_for_select([ ['Brother', 'bro'], ['Sister', 'sis'], ['Mother', 'mom'], ['Father', 'dad'], ['Child', 'kid'], ['Partner', 'partner'] ]), :class => "form-control") %>

            <!-- Label and input for other_member_id -->
            <div class="form-group">
              <label for="other_member_id" class="control-label">
                Family Member
              </label>

              <%= select_tag(:other_member_id, options_from_collection_for_select(@members.where.not(:id => member.id).order("name ASC"), :id, :name), :class => "form-control") %>

            </div>

            <p></p>

            <!-- Label and input for member_id -->
            <div class="form-group">

              <input type="hidden" id="member_id" name="member_id" placeholder="Member" class="form-control" value="<%= member.id %>">
            </div>

            <button class="btn btn-success">
              Create Relationship
            </button>
            or
            <a href="/relationships">Cancel</a>
          </form>

          <% end %>

        </div>
      </div>

      <p></p>

    </div>
    <% end %>

  </div>  
</div> <!-- row -->
