<div class="page-header">
  <h3>The <%= @family.name %> Family</h3>

  <div class="btn-group">
    <a href="/families" class="btn btn-default btn-sm">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a href="/families/<%= @family.id %>/edit" class="btn btn-default btn-sm">
      <i class="fa fa-edit fa-fw"></i>
    </a>
    <a href="/delete_family/<%= @family.id %>" class="btn btn-default btn-sm" rel="nofollow">
      <i class="fa fa-trash-o fa-fw"></i>
    </a>

  </div>
</div>

<div class="row row-horizon">
    <div class="col-md-3">
  <% @family.members.each do |member| %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">

          <p> <%= member.name %> <%= member.surname %> </p>
        </h4>

        <form action="/create_relationship" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for relationship_type -->
          <div class="form-group">
            <label for="relationship_type" class="control-label">
              Relationship
            </label>

            <%= select_tag(:relationship_type, options_for_select([ ['Brother', 'bro'], ['Sister', 'sis'] ]), :class => "form-control") %>

            <!-- Label and input for other_member_id -->
            <div class="form-group">
              <label for="other_member_id" class="control-label">
                Family Member
              </label>

              <%= select_tag(:other_member_id, options_from_collection_for_select(@members.order("name ASC"), :id, :name), :class => "form-control") %>

              <p class="help-block">
                <a href="/members/new">or add a new family member</a>
              </p>
            </div>

            <!-- Label and input for member_id -->
            <div class="form-group">

              <input type="hidden" id="member_id" name="member_id" placeholder="Member" class="form-control" value="<%= member.id %>">
            </div>

            <button class="btn btn-success">
              Create Relationship
            </button>
            or
            <a href="/relationships">Cancel</a>
          </form>

        </div>
      </div>

      <% end %>

      <% if current_user.id == @family.user_id %>
      <div class="panel-footer">
        <form action="/create_member" method="post">

          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for name -->
          <div class="form-group">
            <label for="name" class="control-label">
              Name
            </label>

            <input type="text" id="name" name="name" placeholder="Name" class="form-control">
          </div>

          <div class="form-group">
            <label for="surname" class="control-label">
              Surname
            </label>

            <input type="text" id="surname" name="surname" placeholder="Surname" class="form-control">
          </div>

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="notes" class="control-label">
              Notes
            </label>

            <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"></textarea>
          </div>

          <!-- Hidden input for family_id -->
          <input type="hidden" name="family_id" value="<%= @family.id %>">

          <button class="btn btn-success btn-block">
            Create Member
          </button>
        </form>

      </div>
  </div>
      <% end %>
    </div>

  </div> <!-- row -->
